*{
    font-family: 'Montserrat', sans-serif;
}
.header_top{
    height: 40px;
}
.header_top img{
    width: 80px;
}
.header_bot{
    height: 70px;
}
#navbarDropdown{
    color: black;
}
/* HERO */
.hero_top{
    height: 625px;
    background-image: url(./../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}
.hero_top img{
    width: 280px;
}
.hero_info h2{
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: 600;
}
.hero_info a{
    background-color: #CD3D0F;
    border-radius: 25px;
    color: white;
}
.hero_card{
    border: none;
}
.hero_card img{
    border-radius: 20px;
}
.hero_card:hover{
    border: 3px #2285D4 solid;
    border-radius: 20px;
    cursor: pointer;
}
/* SECTION PS5 */
.ps5{
    margin-top: 100px;
}
.ps5 h2{
    margin-bottom: 30px;
    font-weight: 600;
}
.ps5 h6{
    color: #157DD1;
    font-weight: 600;
}
.ps5 p{
    font-size: 1.25rem;
}
.ps5_img{
    max-width: 600px;
    height: 100%;
    width: 100%;
}
.content_detail{
    margin-top: 8rem;
}
.content_detail_text a{
    color: white;
    background-color: #2C64E6;
    border-radius: 25px;
}
@media screen and (min-width:743px){
    .img_container{
        width: 20%;
        opacity: 0.75;
    }
    .img_accessories{
        width: 65%;
    }
}
.img_container{
    position: relative;
}
.img_container::after{
    content:'';
    position:absolute;
    width: 0%;
    height: 2px;    
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #2285D4;
}
.img_container:hover{
    cursor: pointer;
    opacity: 1;
}
.img_container:hover::after{
    width: 100%;
    transition: 0.25s;
}
/*  SECTION NEW RELEASES */
.new_releases_top{
    height: 625px;
    background-image: url(./../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}
.new_releases_top img {
    width: 280px;
}
.new_releases_bot{
    background-color: #1F1F1F;
}
.new_releases_card{
    border: none;
    background-color: #1F1F1F;
}
.new_releases_card_img{
    border-radius: 20px;
    background-color: #1F1F1F;
}
.new_releases_card h5{
    color: white;
}
/* SECTION EXPLORE */
.explore{
    margin-top: 70px;
}
.explore h2{
    font-weight: 600;
}
.explore_card a{
    background-color: #2D64E6;
    margin-top: 20px;
}
.explore_card{
    margin-bottom: 70px;
}
.explore_card p {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* SECTION PLAYSTATION PLUS */
.psplus{
    background-color: #BEBCBB;
}
.psplus_row_left img{
    width: 345px;
}
.psplus_row_left p{
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}
.psplus_row_left a{
    color: #2D64E6;
    background-color: #D9DADC;
    border-radius: 20px;
    font-weight: 600;  
}
.psplus_row_right img{
    max-height: 430px;
}
/* SECTION PLAYSTATIONSTORE */
.pstore_text{
    margin-top: 75px;
    margin-bottom: 75px;
}
.pstore_text h2{
    margin-bottom: 37px;
    font-weight: 600;
}
/* SECTION PLAYSTATION NOW */
.psnow{
    background-color: #161C3B;
}
.psnow_row_left a{
    color: black;
    background-color: #D9DADC;
    border-radius: 20px;
    font-weight: 600;
}
.psnow_row_left img{
    width: 345px;
}
.psnow p{
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* SECTION SOCIAL MEDIA */
.social h3{
    margin-top: 70px;
    margin-bottom: 70px;
}
.social_row{
    margin-bottom: 70px;
}
/* FOOTER */
footer{
    background-color: #00439C;
    padding-top: 70px;
}
#lang_globe{
    width: 18px;
}
#play_logo{
    filter:  brightness(0) invert(1);
    width: 100px;
}
.footer_link a{
    color: white;
    text-decoration: none;
}
#sie_logo{
    width: 140px;
}
